Repository alponsirenas/lanterne-rouge, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, documentation, source, tests, scripts, config, tdf

Fix Fiction Mode time trial detection and narrative generation
  docs/tdf-2025-hallucinations/stage5.md
  docs/tdf-2025-hallucinations/stage5_old.md
  memory/lanterne.db
  src/lanterne_rouge/fiction_mode/analysis.py
  src/lanterne_rouge/fiction_mode/data_ingestion.py
Labels: documentation, source

Clean up: Remove old Stage 5 narrative backup file
  docs/tdf-2025-hallucinations/stage5_old.md
Labels: documentation

Update Fiction Mode documentation to reflect time trial improvements
  docs/tdf-2025-hallucinations/intro.md
  memory/lanterne.db
Labels: documentation

feat: Create personalized Fiction Mode introduction
  docs/tdf-2025-hallucinations/intro.md
Labels: documentation

feat: Add comprehensive time trial support to TDF simulation
  missions/tdf_sim_2025.toml
  output/tdf_points.json
  scripts/evening_tdf_check.py
  src/lanterne_rouge/fiction_mode/analysis.py
Labels: source, scripts, config, tdf

Fix Fiction Mode time trial detection and narrative generation
  docs/tdf-2025-hallucinations/stage5.md
  docs/tdf-2025-hallucinations/stage5_old.md
  memory/lanterne.db
  src/lanterne_rouge/fiction_mode/analysis.py
  src/lanterne_rouge/fiction_mode/data_ingestion.py
Labels: documentation, source

Clean up: Remove old Stage 5 narrative backup file
  docs/tdf-2025-hallucinations/stage5_old.md
Labels: documentation

Update Fiction Mode documentation to reflect time trial improvements
  docs/tdf-2025-hallucinations/intro.md
  memory/lanterne.db
Labels: documentation

chore: Remove docs_src directory from main branch
  docs_src/getting-started/installation.md
  docs_src/getting-started/quick-start.md
Labels: none

Major documentation restructure and repository cleanup
  .github/workflows/tdf-fiction-mode.yml
  LINTING_SUMMARY.md
  RELEASE_NOTES_v0.4.0.md
  RELEASE_NOTES_v0.5.0.md
  TDF_CLASSIFICATION_FIX_SUMMARY.md
  docs/LINTING_SUMMARY.md
  docs/RELEASE_NOTES_v0.4.0.md
  docs/RELEASE_NOTES_v0.5.0.md
  docs/TDF_CLASSIFICATION_FIX_SUMMARY.md
  docs_src/tdf-simulation/index.md
  docs_src/tdf-simulation/points-system.md
  docs_src/tdf-simulation/stages/index.md
  docs_src/tdf-simulation/stages/stage1.md
  docs_src/tdf-simulation/tdf-2025-hallucinations/index.md
  docs_src/tdf-simulation/tdf-2025-hallucinations/stage1.md
  docs_src/tdf-simulation/tdf-2025-hallucinations/stage2.md
  docs_src/tdf-simulation/tdf-2025-hallucinations/stage3.md
  docs_src/tdf-simulation/tdf-2025-hallucinations/stage4.md
  docs_src/tdf-simulation/tdf-2025-hallucinations/stage5.md
  docs_src/tdf-simulation/tdf-2025-hallucinations/stage6.md
  fix_tdf_points.py
  generate_stage6_summary.py
  memory/lanterne.db
  mkdocs.yml
  scripts/integrate_tdf_docs.py
  scripts/run_fiction_mode.py
  scripts/utils/fiction_mode_utils.py
  scripts/utils/test_fiction_mode.py
  src/lanterne_rouge/fiction_mode/delivery.py
  test_points_accumulation.py
Labels: CI, documentation, source, scripts, config, tdf

Potential fix for code scanning alert no. 26: Clear-text storage of sensitive information
  scripts/populate_stage_data.py
Labels: scripts

Update src/lanterne_rouge/ai_clients.py
  src/lanterne_rouge/ai_clients.py
Labels: source

Update scripts/daily_tdf_update.py
  scripts/daily_tdf_update.py
Labels: scripts, tdf

Fix README.md structure and update paths
  README.md
Labels: documentation

Update README.md for clarity and structure
  README.md
Labels: documentation

feat(tdf): stage completed - points and summary updated [skip ci]
  docs/tdf-2025-sim/completion-summary/stage7.md
  output/stage7_analysis.txt
  output/tdf_points.json
Labels: documentation, tdf

feat(fiction): auto-generated narrative for stage 7 [skip ci]
  docs_src/tdf-simulation/tdf-2025-hallucinations/stage7.md
Labels: none

feat(tdf): morning briefing and points update [skip ci]
  output/morning_tdf_briefing.txt
  output/readiness_score_log.csv
Labels: tdf

chore(data): daily coach output [skip ci]
  memory/lanterne.db
  output/readiness_score_log.csv
  output/reasoning_log.csv
Labels: none

chore(data): daily coach output [skip ci]
  docs_src/tdf-simulation/index.md
  mkdocs.yml
Labels: config

chore(data): daily coach output [skip ci]
  memory/lanterne.db
  output/readiness_score_log.csv
  output/reasoning_log.csv
Labels: none

chore(data): daily coach output [skip ci]
  docs_src/tdf-simulation/index.md
  mkdocs.yml
Labels: config

feat(tdf): stage completed - points and summary updated [skip ci]
  docs/tdf-2025-sim/completion-summary/stage8.md
  output/stage8_analysis.txt
  output/tdf_points.json
Labels: documentation, tdf

feat(tdf): morning briefing and points update [skip ci]
  output/morning_tdf_briefing.txt
  output/readiness_score_log.csv
Labels: tdf

chore(data): daily coach output [skip ci]
  memory/lanterne.db
  output/readiness_score_log.csv
  output/reasoning_log.csv
Labels: none

chore(data): daily coach output [skip ci]
  docs_src/tdf-simulation/index.md
  mkdocs.yml
Labels: config

chore(data): daily coach output [skip ci]
  memory/lanterne.db
  output/readiness_score_log.csv
  output/reasoning_log.csv
Labels: none

chore(data): daily coach output [skip ci]
  docs_src/tdf-simulation/index.md
  mkdocs.yml
Labels: config

Fix Fiction Mode NoneType division errors
  docs_src/tdf-simulation/tdf-2025-hallucinations/stage8.md
  memory/lanterne.db
  src/lanterne_rouge/fiction_mode/analysis.py
  src/lanterne_rouge/fiction_mode/data_ingestion.py
  src/lanterne_rouge/fiction_mode/delivery.py
  src/lanterne_rouge/fiction_mode/pipeline.py
Labels: source

Fix TDF documentation automation
  docs_src/tdf-simulation/index.md
  docs_src/tdf-simulation/stages/completion-summary/stage7.md
  docs_src/tdf-simulation/stages/completion-summary/stage8.md
  docs_src/tdf-simulation/stages/stage1.md
  docs_src/tdf-simulation/stages/stage2.md
  docs_src/tdf-simulation/stages/stage3.md
  docs_src/tdf-simulation/stages/stage4.md
  docs_src/tdf-simulation/stages/stage5.md
  docs_src/tdf-simulation/stages/stage6.md
  docs_src/tdf-simulation/stages/stage7.md
  docs_src/tdf-simulation/stages/stage8.md
  docs_src/tdf-simulation/stages/stage9.md
  memory/lanterne.db
  missions/tdf_sim_2025.toml
  mkdocs.yml
  output/tdf_points.json
  scripts/evening_tdf_check.py
  scripts/integrate_tdf_docs.py
Labels: scripts, config, tdf

feat(tdf): official 2025 route integration & automated documentation
  .github/workflows/tdf-evening.yml
  .github/workflows/tdf-morning.yml
  docs/TDF_2025_ROUTE_RESEARCH.md
  docs_src/tdf-simulation/index.md
  docs_src/tdf-simulation/stages/stage1.md
  memory/lanterne.db
  missions/tdf_sim_2025.toml
  output/tdf_points.json
  scripts/integrate_tdf_docs.py
Labels: CI, documentation, scripts, config, tdf

feat(docs): add GitHub Pages deployment workflow
  .github/workflows/deploy-docs.yml
Labels: CI

fix(docs): properly comment out Documentation nav section
  mkdocs.yml
Labels: config

feat(tdf): update stage titles to official 2025 route names
  docs_src/tdf-simulation/stages/stage1.md
  docs_src/tdf-simulation/stages/stage2.md
  docs_src/tdf-simulation/stages/stage3.md
  docs_src/tdf-simulation/stages/stage4.md
  docs_src/tdf-simulation/stages/stage5.md
  docs_src/tdf-simulation/stages/stage7.md
  docs_src/tdf-simulation/stages/stage8.md
  docs_src/tdf-simulation/stages/stage9.md
Labels: none

fix(tdf): correct tab order and briefing formatting
  docs_src/tdf-simulation/stages/stage1.md
  docs_src/tdf-simulation/stages/stage2.md
  docs_src/tdf-simulation/stages/stage3.md
  docs_src/tdf-simulation/stages/stage4.md
  docs_src/tdf-simulation/stages/stage5.md
  docs_src/tdf-simulation/stages/stage6.md
  docs_src/tdf-simulation/stages/stage7.md
  docs_src/tdf-simulation/stages/stage8.md
  docs_src/tdf-simulation/stages/stage9.md
  memory/lanterne.db
  mkdocs.yml
  scripts/integrate_tdf_docs.py
Labels: scripts, config, tdf

feat(mkdocs): add social link for GitHub in extra section
  mkdocs.yml
Labels: config

feat(tdf): stage completed - points and summary updated [skip ci]
  docs_src/tdf-simulation/index.md
  docs_src/tdf-simulation/stages/completion-summary/stage9.md
  mkdocs.yml
  output/stage9_analysis.txt
  output/tdf_points.json
Labels: config, tdf

feat(fiction): auto-generated narrative for stage 9 [skip ci]
  docs_src/tdf-simulation/tdf-2025-hallucinations/stage9.md
Labels: none

feat(tdf): morning briefing and points update [skip ci]
  docs_src/tdf-simulation/stages/stage9.md
  mkdocs.yml
  output/morning_tdf_briefing.txt
  output/readiness_score_log.csv
Labels: config, tdf

chore(data): daily coach output [skip ci]
  memory/lanterne.db
  output/readiness_score_log.csv
  output/reasoning_log.csv
Labels: none

.github/labeler.yml:

# Configuration for the labeler action
# https://github.com/actions/labeler

# Label for root level changes
root:
  - changed-files:
    - any-glob-to-any-file: '*'
    - all-globs-to-all-files: '!**/*'

# Label for CI/CD related changes  
CI:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'

# Label for documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file: 
      - 'docs/**/*'
      - 'context/**/*'
      - '*.md'

# Label for source code changes
source:
  - changed-files:
    - any-glob-to-any-file: 'src/**/*'

# Label for test changes
tests:
  - changed-files:
    - any-glob-to-any-file: 'tests/**/*'

# Label for script changes
scripts:
  - changed-files:
    - any-glob-to-any-file: 'scripts/**/*'

# Label for configuration changes
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config/**/*'
      - 'missions/**/*'
      - '*.toml'
      - '*.json'
      - '*.yml'
      - '*.yaml'

# Label for TDF simulation changes
tdf:
  - changed-files:
    - any-glob-to-any-file:
      - '**/tdf_*'
      - '**/*tdf*'
      - 'output/tdf_points.json'
