Repository alponsirenas/lanterne-rouge, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, documentation, source, tests, scripts, config, tdf

.github/labeler.yml:

# Configuration for the labeler action
# https://github.com/actions/labeler

# Label for root level changes
root:
  - changed-files:
    - any-glob-to-any-file: '*'
    - all-globs-to-all-files: '!**/*'

# Label for CI/CD related changes  
CI:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'

# Label for documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file: 
      - 'docs/**/*'
      - 'context/**/*'
      - '*.md'

# Label for source code changes
source:
  - changed-files:
    - any-glob-to-any-file: 'src/**/*'

# Label for test changes
tests:
  - changed-files:
    - any-glob-to-any-file: 'tests/**/*'

# Label for script changes
scripts:
  - changed-files:
    - any-glob-to-any-file: 'scripts/**/*'

# Label for configuration changes
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config/**/*'
      - 'missions/**/*'
      - '*.toml'
      - '*.json'
      - '*.yml'
      - '*.yaml'

# Label for TDF simulation changes
tdf:
  - changed-files:
    - any-glob-to-any-file:
      - '**/tdf_*'
      - '**/*tdf*'
      - 'output/tdf_points.json'

feat(tdf): morning briefing and points update [skip ci]
  output/morning_tdf_briefing.txt
  output/readiness_score_log.csv
Labels: tdf

chore(data): daily coach output [skip ci]
  memory/lanterne.db
  output/readiness_score_log.csv
  output/reasoning_log.csv
Labels: none

feat(tdf): morning briefing and points update [skip ci]
  output/morning_tdf_briefing.txt
  output/readiness_score_log.csv
Labels: tdf

chore(data): daily coach output [skip ci]
  memory/lanterne.db
  output/readiness_score_log.csv
  output/reasoning_log.csv
Labels: none

feat(tdf): morning briefing and points update [skip ci]
  output/morning_tdf_briefing.txt
Labels: tdf

chore(data): daily coach output [skip ci]
  memory/lanterne.db
  output/readiness_score_log.csv
  output/reasoning_log.csv
Labels: none

feat(tdf): morning briefing and points update [skip ci]
  output/morning_tdf_briefing.txt
  output/readiness_score_log.csv
Labels: tdf

chore(data): daily coach output [skip ci]
  memory/lanterne.db
  output/readiness_score_log.csv
  output/reasoning_log.csv
Labels: none

feat(tdf): morning briefing and points update [skip ci]
  output/morning_tdf_briefing.txt
  output/readiness_score_log.csv
Labels: tdf

chore(data): daily coach output [skip ci]
  memory/lanterne.db
  output/readiness_score_log.csv
  output/reasoning_log.csv
Labels: none

feat(tdf): morning briefing and points update [skip ci]
  output/morning_tdf_briefing.txt
  output/readiness_score_log.csv
Labels: tdf

chore(data): daily coach output [skip ci]
  memory/lanterne.db
  output/readiness_score_log.csv
  output/reasoning_log.csv
Labels: none

feat(tdf): morning briefing and points update [skip ci]
  output/morning_tdf_briefing.txt
  output/readiness_score_log.csv
Labels: tdf

chore(data): daily coach output [skip ci]
  memory/lanterne.db
  output/readiness_score_log.csv
  output/reasoning_log.csv
Labels: none

feat(tdf): morning briefing and points update [skip ci]
  output/morning_tdf_briefing.txt
  output/readiness_score_log.csv
Labels: tdf

chore(data): daily coach output [skip ci]
  memory/lanterne.db
  output/readiness_score_log.csv
  output/reasoning_log.csv
Labels: none

feat(tdf): morning briefing and points update [skip ci]
  output/morning_tdf_briefing.txt
  output/readiness_score_log.csv
Labels: tdf

chore(data): daily coach output [skip ci]
  memory/lanterne.db
  output/readiness_score_log.csv
  output/reasoning_log.csv
Labels: none

feat(tdf): morning briefing and points update [skip ci]
  output/morning_tdf_briefing.txt
  output/readiness_score_log.csv
Labels: tdf

chore(data): daily coach output [skip ci]
  memory/lanterne.db
  output/readiness_score_log.csv
  output/reasoning_log.csv
Labels: none

feat(tdf): morning briefing and points update [skip ci]
  output/morning_tdf_briefing.txt
  output/readiness_score_log.csv
Labels: tdf

chore(data): daily coach output [skip ci]
  memory/lanterne.db
  output/readiness_score_log.csv
  output/reasoning_log.csv
Labels: none

feat(tdf): morning briefing and points update [skip ci]
  output/morning_tdf_briefing.txt
  output/readiness_score_log.csv
Labels: tdf

chore(data): daily coach output [skip ci]
  memory/lanterne.db
  output/readiness_score_log.csv
  output/reasoning_log.csv
Labels: none

cleanup: remove empty files and unused scripts
  docs/ENHANCED_REASONING_SYSTEM.md
  docs/LINTING_SUMMARY.md
  docs/RELEASE_NOTES_v0.4.0.md
  docs/RELEASE_NOTES_v0.5.0.md
  docs/TDF_CLASSIFICATION_FIX_SUMMARY.md
  scripts/add_missing_stage2.py
  scripts/compare_data_sources.py
  scripts/compare_db_vs_calc.py
  scripts/configure_rider_profile.py
  scripts/demo.py
  scripts/demo_enhanced.py
  scripts/demo_streamlit.py
  scripts/diagnose_bannister.py
  scripts/diagnose_tdf_stages.py
  scripts/export_strava_for_testing.py
  scripts/fix_tdf_classifications.py
  scripts/fix_trailing_whitespace.py
  scripts/manage_memory_db.py
  scripts/test_power_tss.py
  scripts/test_tsb_parameters.py
  tests/test_bannister.py
Labels: documentation, tests, scripts, tdf

feat(tdf): morning briefing and points update [skip ci]
  output/morning_tdf_briefing.txt
  output/readiness_score_log.csv
Labels: tdf

chore(data): daily coach output [skip ci]
  memory/lanterne.db
  output/readiness_score_log.csv
  output/reasoning_log.csv
Labels: none

feat(tdf): morning briefing and points update [skip ci]
  output/morning_tdf_briefing.txt
  output/readiness_score_log.csv
Labels: tdf

chore(data): daily coach output [skip ci]
  memory/lanterne.db
  output/readiness_score_log.csv
  output/reasoning_log.csv
Labels: none

feat(docs): add comprehensive reflections and narratives for Tour de France 2025 simulation
  blog_post_4_tdf_completion_and_fiction_mode.md
  blog_post_5_ai_assisted_development.md
  docs_src/tdf-simulation/tdf-2025-hallucinations/final_journey.md
  docs_src/tdf-simulation/tdf-2025-hallucinations/stage20.md
  docs_src/tdf-simulation/tdf-2025-hallucinations/stage21.md
  memory/lanterne.db
Labels: documentation, tdf

feat(docs): add comprehensive beta release implementation plan and issue list
  docs/beta_release_issues.md
  docs/v1_implementation_plan.md
Labels: documentation

fix: resolve pylint warnings for proper exception chaining
  requirements.txt
  src/lanterne_rouge/backend/api/auth.py
  src/lanterne_rouge/backend/core/security.py
  src/lanterne_rouge/backend/models/user.py
Labels: source

Update docs/backend_api.md
  docs/backend_api.md
Labels: documentation

fix: stop tracking SQLite database to prevent merge conflicts
  .gitignore
  memory/lanterne.db
Labels: none

feat: Complete mission API implementation with lifecycle management
  src/lanterne_rouge/backend/api/dependencies.py
  src/lanterne_rouge/backend/api/jobs.py
  src/lanterne_rouge/backend/api/missions.py
  src/lanterne_rouge/backend/core/config.py
  src/lanterne_rouge/backend/main.py
  src/lanterne_rouge/backend/models/mission.py
  src/lanterne_rouge/backend/schemas/mission.py
  src/lanterne_rouge/backend/services/mission_lifecycle.py
  src/lanterne_rouge/backend/services/mission_scheduler.py
  tests/test_backend_auth.py
  tests/test_mission_api.py
Labels: source, tests

Update docs/backend_api.md
  docs/backend_api.md
Labels: documentation

Update prompts/README.md
  prompts/README.md
Labels: none

Implement LLM-powered mission builder with questionnaire endpoint
  prompts/mission_builder.md
  src/lanterne_rouge/backend/api/missions.py
  src/lanterne_rouge/backend/models/mission.py
  src/lanterne_rouge/backend/schemas/mission_builder.py
  src/lanterne_rouge/backend/services/mission_builder.py
  tests/test_mission_builder.py
Labels: source, tests

Apply suggestions from code review
  docs/backend_api.md
  src/lanterne_rouge/backend/api/missions.py
  src/lanterne_rouge/backend/schemas/mission_builder.py
  src/lanterne_rouge/backend/services/mission_builder.py
Labels: documentation, source

Update src/lanterne_rouge/backend/services/background_refresh.py
  src/lanterne_rouge/backend/services/background_refresh.py
Labels: source
