Repository alponsirenas/lanterne-rouge, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, documentation, source, tests, scripts, config, tdf

.github/labeler.yml:

# Configuration for the labeler action
# https://github.com/actions/labeler

# Label for root level changes
root:
  - changed-files:
    - any-glob-to-any-file: '*'
    - all-globs-to-all-files: '!**/*'

# Label for CI/CD related changes  
CI:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'

# Label for documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file: 
      - 'docs/**/*'
      - 'context/**/*'
      - '*.md'

# Label for source code changes
source:
  - changed-files:
    - any-glob-to-any-file: 'src/**/*'

# Label for test changes
tests:
  - changed-files:
    - any-glob-to-any-file: 'tests/**/*'

# Label for script changes
scripts:
  - changed-files:
    - any-glob-to-any-file: 'scripts/**/*'

# Label for configuration changes
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config/**/*'
      - 'missions/**/*'
      - '*.toml'
      - '*.json'
      - '*.yml'
      - '*.yaml'

# Label for TDF simulation changes
tdf:
  - changed-files:
    - any-glob-to-any-file:
      - '**/tdf_*'
      - '**/*tdf*'
      - 'output/tdf_points.json'

feat(tdf): stage completed - points and summary updated [skip ci]
  docs_src/tdf-simulation/index.md
  docs_src/tdf-simulation/stages/completion-summary/stage10.md
  output/stage10_analysis.txt
  output/tdf_points.json
Labels: tdf

feat(fiction): auto-generated narrative for stage 10 [skip ci]
  docs_src/tdf-simulation/tdf-2025-hallucinations/stage10.md
Labels: none

feat(tdf): morning briefing and points update [skip ci]
  mkdocs.yml
  output/morning_tdf_briefing.txt
  output/readiness_score_log.csv
Labels: config, tdf

chore(data): daily coach output [skip ci]
  memory/lanterne.db
  output/readiness_score_log.csv
  output/reasoning_log.csv
Labels: none

🛌 Add rest day logic to morning briefing system
  output/morning_tdf_briefing.txt
  scripts/morning_tdf_briefing.py
Labels: scripts, tdf

style: clean up whitespace in morning briefing script
  scripts/morning_tdf_briefing.py
Labels: scripts, tdf

chore: improve .gitignore to prevent temp files
  .gitignore
Labels: none

feat: Complete TDF 2025 simulation with all 21 stages and rest day support
  docs_src/tdf-simulation/stages/stage10.md
  docs_src/tdf-simulation/stages/stage11.md
  docs_src/tdf-simulation/stages/stage12.md
  docs_src/tdf-simulation/stages/stage13.md
  docs_src/tdf-simulation/stages/stage14.md
  docs_src/tdf-simulation/stages/stage15.md
  docs_src/tdf-simulation/stages/stage16.md
  docs_src/tdf-simulation/stages/stage17.md
  docs_src/tdf-simulation/stages/stage18.md
  docs_src/tdf-simulation/stages/stage19.md
  docs_src/tdf-simulation/stages/stage20.md
  docs_src/tdf-simulation/stages/stage21.md
  docs_src/tdf-simulation/stages/stage4.md
  docs_src/tdf-simulation/stages/stage5.md
  docs_src/tdf-simulation/stages/stage6.md
  docs_src/tdf-simulation/stages/stage7.md
  docs_src/tdf-simulation/stages/stage8.md
  docs_src/tdf-simulation/stages/stage9.md
  memory/lanterne.db
  missions/tdf_sim_2025.toml
  mkdocs.yml
  output/morning_tdf_briefing.txt
  output/readiness_score_log.csv
  scripts/morning_tdf_briefing.py
  src/lanterne_rouge/ai_clients.py
  src/lanterne_rouge/reasoner.py
  src/lanterne_rouge/tour_coach.py
Labels: source, scripts, config, tdf

Enhance TDF 2025 stage workouts with detailed terrain-specific annotations
  docs_src/tdf-simulation/stages/stage11.md
  docs_src/tdf-simulation/stages/stage12.md
  docs_src/tdf-simulation/stages/stage14.md
  docs_src/tdf-simulation/stages/stage15.md
  docs_src/tdf-simulation/stages/stage16.md
  docs_src/tdf-simulation/stages/stage18.md
  docs_src/tdf-simulation/stages/stage19.md
  docs_src/tdf-simulation/stages/stage20.md
  docs_src/tdf-simulation/stages/stage21.md
Labels: none

Fix YAML syntax error in mkdocs.yml
  mkdocs.yml
Labels: config

Implement collapsed left navigation in documentation
  mkdocs.yml
Labels: config

feat(tdf): morning briefing and points update [skip ci]
  docs_src/tdf-simulation/index.md
  docs_src/tdf-simulation/stages/stage10.md
  docs_src/tdf-simulation/stages/stage11.md
  docs_src/tdf-simulation/stages/stage4.md
  docs_src/tdf-simulation/stages/stage5.md
  docs_src/tdf-simulation/stages/stage6.md
  docs_src/tdf-simulation/stages/stage7.md
  docs_src/tdf-simulation/stages/stage8.md
  docs_src/tdf-simulation/stages/stage9.md
  mkdocs.yml
  output/morning_tdf_briefing.txt
  output/readiness_score_log.csv
Labels: config, tdf

chore(data): daily coach output [skip ci]
  memory/lanterne.db
  output/readiness_score_log.csv
  output/reasoning_log.csv
Labels: none

chore(data): daily coach output [skip ci]
  memory/lanterne.db
  output/readiness_score_log.csv
  output/reasoning_log.csv
Labels: none

feat(tdf): stage completed - points and summary updated [skip ci]
  docs_src/tdf-simulation/index.md
  docs_src/tdf-simulation/stages/completion-summary/stage11.md
  output/stage11_analysis.txt
  output/tdf_points.json
Labels: tdf

feat(fiction): auto-generated narrative for stage 11 [skip ci]
  docs_src/tdf-simulation/tdf-2025-hallucinations/stage11.md
Labels: none

feat(tdf): morning briefing and points update [skip ci]
  docs_src/tdf-simulation/index.md
  docs_src/tdf-simulation/stages/stage11.md
  docs_src/tdf-simulation/stages/stage12.md
  mkdocs.yml
  output/morning_tdf_briefing.txt
  output/readiness_score_log.csv
Labels: config, tdf

chore(data): daily coach output [skip ci]
  memory/lanterne.db
  output/readiness_score_log.csv
  output/reasoning_log.csv
Labels: none

chore(data): daily coach output [skip ci]
  memory/lanterne.db
  output/readiness_score_log.csv
  output/reasoning_log.csv
Labels: none

chore(data): daily coach output [skip ci]
  memory/lanterne.db
  output/readiness_score_log.csv
  output/reasoning_log.csv
Labels: none

chore(data): daily coach output [skip ci]
  docs_src/tdf-simulation/index.md
Labels: none

feat(tdf): stage completed - points and summary updated [skip ci]
  docs_src/tdf-simulation/index.md
  docs_src/tdf-simulation/stages/completion-summary/stage12.md
  output/stage12_analysis.txt
  output/tdf_points.json
Labels: tdf

feat(fiction): auto-generated narrative for stage 12 [skip ci]
  docs_src/tdf-simulation/tdf-2025-hallucinations/stage12.md
Labels: none

feat(tdf): morning briefing and points update [skip ci]
  docs_src/tdf-simulation/stages/stage12.md
  docs_src/tdf-simulation/stages/stage13.md
  mkdocs.yml
  output/morning_tdf_briefing.txt
  output/readiness_score_log.csv
Labels: config, tdf

chore(data): daily coach output [skip ci]
  memory/lanterne.db
  output/readiness_score_log.csv
  output/reasoning_log.csv
Labels: none

chore(data): daily coach output [skip ci]
  memory/lanterne.db
  output/readiness_score_log.csv
  output/reasoning_log.csv
Labels: none

feat(tdf): stage completed - points and summary updated [skip ci]
  docs_src/tdf-simulation/index.md
  docs_src/tdf-simulation/stages/completion-summary/stage13.md
  output/stage13_analysis.txt
  output/tdf_points.json
Labels: tdf

feat(fiction): auto-generated narrative for stage 13 [skip ci]
  docs_src/tdf-simulation/tdf-2025-hallucinations/stage13.md
Labels: none

Fix critical ITT activity detection bug and correct Stage 13 analysis
  docs_src/tdf-simulation/stages/completion-summary/stage13.md
  scripts/evening_tdf_check.py
Labels: scripts, tdf

feat(tdf): morning briefing and points update [skip ci]
  docs_src/tdf-simulation/stages/stage13.md
  docs_src/tdf-simulation/stages/stage14.md
  mkdocs.yml
  output/morning_tdf_briefing.txt
  output/readiness_score_log.csv
Labels: config, tdf

chore(data): daily coach output [skip ci]
  memory/lanterne.db
  output/readiness_score_log.csv
  output/reasoning_log.csv
Labels: none

chore(data): daily coach output [skip ci]
  memory/lanterne.db
  output/readiness_score_log.csv
  output/reasoning_log.csv
Labels: none

feat(tdf): stage completed - points and summary updated [skip ci]
  docs_src/tdf-simulation/index.md
  docs_src/tdf-simulation/stages/completion-summary/stage14.md
  output/stage14_analysis.txt
  output/tdf_points.json
Labels: tdf

feat(tdf): morning briefing and points update [skip ci]
  docs_src/tdf-simulation/stages/stage14.md
  docs_src/tdf-simulation/stages/stage15.md
  output/morning_tdf_briefing.txt
  output/readiness_score_log.csv
Labels: tdf

chore(data): daily coach output [skip ci]
  memory/lanterne.db
  output/readiness_score_log.csv
  output/reasoning_log.csv
Labels: none

chore(data): daily coach output [skip ci]
  memory/lanterne.db
  output/readiness_score_log.csv
  output/reasoning_log.csv
Labels: none

chore(data): daily coach output [skip ci]
  memory/lanterne.db
  output/readiness_score_log.csv
  output/reasoning_log.csv
Labels: none

feat(tdf): stage completed - points and summary updated [skip ci]
  docs_src/tdf-simulation/index.md
  docs_src/tdf-simulation/stages/completion-summary/stage15.md
  output/stage15_analysis.txt
  output/tdf_points.json
Labels: tdf

feat(fiction): auto-generated narrative for stage 15 [skip ci]
  docs_src/tdf-simulation/tdf-2025-hallucinations/stage15.md
Labels: none

feat(tdf): morning briefing and points update [skip ci]
  docs_src/tdf-simulation/stages/stage15.md
  docs_src/tdf-simulation/stages/stage16.md
  mkdocs.yml
  output/morning_tdf_briefing.txt
  output/readiness_score_log.csv
Labels: config, tdf
