Repository alponsirenas/lanterne-rouge, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, documentation, source, tests, scripts, config, tdf

feat(tdf): morning briefing and points update [skip ci]
  output/morning_tdf_briefing.txt
  output/readiness_score_log.csv
Labels: tdf

chore(data): daily coach output [skip ci]
  memory/lanterne.db
  output/readiness_score_log.csv
  output/reasoning_log.csv
Labels: none

feat(tdf): morning briefing and points update [skip ci]
  output/morning_tdf_briefing.txt
  output/readiness_score_log.csv
Labels: tdf

chore(data): daily coach output [skip ci]
  memory/lanterne.db
  output/readiness_score_log.csv
  output/reasoning_log.csv
Labels: none

feat(blog): add third post in Lanterne Rouge series detailing AI coaching system progress and insights
  blog_post_tdf_simulation_update.md
Labels: documentation, tdf

feat(tdf): morning briefing and points update [skip ci]
  output/morning_tdf_briefing.txt
  output/readiness_score_log.csv
Labels: tdf

chore(data): daily coach output [skip ci]
  memory/lanterne.db
  output/readiness_score_log.csv
  output/reasoning_log.csv
Labels: none

feat(tdf): morning briefing and points update [skip ci]
  output/morning_tdf_briefing.txt
  output/readiness_score_log.csv
Labels: tdf

chore(data): daily coach output [skip ci]
  memory/lanterne.db
  output/readiness_score_log.csv
  output/reasoning_log.csv
Labels: none

feat(tdf): morning briefing and points update [skip ci]
  output/morning_tdf_briefing.txt
  output/readiness_score_log.csv
Labels: tdf

chore(data): daily coach output [skip ci]
  memory/lanterne.db
  output/readiness_score_log.csv
  output/reasoning_log.csv
Labels: none

feat(tdf): morning briefing and points update [skip ci]
  output/morning_tdf_briefing.txt
  output/readiness_score_log.csv
Labels: tdf

chore(data): daily coach output [skip ci]
  memory/lanterne.db
  output/readiness_score_log.csv
  output/reasoning_log.csv
Labels: none

feat(tdf): morning briefing and points update [skip ci]
  output/morning_tdf_briefing.txt
  output/readiness_score_log.csv
Labels: tdf

chore(data): daily coach output [skip ci]
  memory/lanterne.db
  output/readiness_score_log.csv
  output/reasoning_log.csv
Labels: none

feat(tdf): morning briefing and points update [skip ci]
  output/morning_tdf_briefing.txt
  output/readiness_score_log.csv
Labels: tdf

chore(data): daily coach output [skip ci]
  memory/lanterne.db
  output/readiness_score_log.csv
  output/reasoning_log.csv
Labels: none

feat(tdf): morning briefing and points update [skip ci]
  output/morning_tdf_briefing.txt
  output/readiness_score_log.csv
Labels: tdf

chore(data): daily coach output [skip ci]
  memory/lanterne.db
  output/readiness_score_log.csv
  output/reasoning_log.csv
Labels: none

feat(tdf): morning briefing and points update [skip ci]
  output/morning_tdf_briefing.txt
  output/readiness_score_log.csv
Labels: tdf

chore(data): daily coach output [skip ci]
  memory/lanterne.db
  output/readiness_score_log.csv
  output/reasoning_log.csv
Labels: none

feat(tdf): morning briefing and points update [skip ci]
  output/morning_tdf_briefing.txt
  output/readiness_score_log.csv
Labels: tdf

chore(data): daily coach output [skip ci]
  memory/lanterne.db
  output/readiness_score_log.csv
  output/reasoning_log.csv
Labels: none

feat(tdf): morning briefing and points update [skip ci]
  output/morning_tdf_briefing.txt
  output/readiness_score_log.csv
Labels: tdf

chore(data): daily coach output [skip ci]
  memory/lanterne.db
  output/readiness_score_log.csv
  output/reasoning_log.csv
Labels: none

feat(tdf): morning briefing and points update [skip ci]
  output/morning_tdf_briefing.txt
  output/readiness_score_log.csv
Labels: tdf

chore(data): daily coach output [skip ci]
  memory/lanterne.db
  output/readiness_score_log.csv
  output/reasoning_log.csv
Labels: none

feat(tdf): morning briefing and points update [skip ci]
  output/morning_tdf_briefing.txt
  output/readiness_score_log.csv
Labels: tdf

chore(data): daily coach output [skip ci]
  memory/lanterne.db
  output/readiness_score_log.csv
  output/reasoning_log.csv
Labels: none

Fix TDF stage completion data and generate Stage 19 narrative
  docs_src/tdf-simulation/index.md
  docs_src/tdf-simulation/tdf-2025-hallucinations/stage19.md
  memory/lanterne.db
  output/tdf_points.json
Labels: tdf

feat(tdf): morning briefing and points update [skip ci]
  output/morning_tdf_briefing.txt
  output/readiness_score_log.csv
Labels: tdf

chore(data): daily coach output [skip ci]
  memory/lanterne.db
  output/readiness_score_log.csv
  output/reasoning_log.csv
Labels: none

feat(tdf): morning briefing and points update [skip ci]
  output/morning_tdf_briefing.txt
  output/readiness_score_log.csv
Labels: tdf

chore(data): daily coach output [skip ci]
  memory/lanterne.db
  output/readiness_score_log.csv
  output/reasoning_log.csv
Labels: none

feat(tdf): morning briefing and points update [skip ci]
  output/morning_tdf_briefing.txt
  output/readiness_score_log.csv
Labels: tdf

chore(data): daily coach output [skip ci]
  memory/lanterne.db
  output/readiness_score_log.csv
  output/reasoning_log.csv
Labels: none

feat(tdf): morning briefing and points update [skip ci]
  output/morning_tdf_briefing.txt
  output/readiness_score_log.csv
Labels: tdf

chore(data): daily coach output [skip ci]
  memory/lanterne.db
  output/readiness_score_log.csv
  output/reasoning_log.csv
Labels: none

feat(tdf): morning briefing and points update [skip ci]
  output/morning_tdf_briefing.txt
  output/readiness_score_log.csv
Labels: tdf

chore(data): daily coach output [skip ci]
  memory/lanterne.db
  output/readiness_score_log.csv
  output/reasoning_log.csv
Labels: none

.github/labeler.yml:

# Configuration for the labeler action
# https://github.com/actions/labeler

# Label for root level changes
root:
  - changed-files:
    - any-glob-to-any-file: '*'
    - all-globs-to-all-files: '!**/*'

# Label for CI/CD related changes  
CI:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'

# Label for documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file: 
      - 'docs/**/*'
      - 'context/**/*'
      - '*.md'

# Label for source code changes
source:
  - changed-files:
    - any-glob-to-any-file: 'src/**/*'

# Label for test changes
tests:
  - changed-files:
    - any-glob-to-any-file: 'tests/**/*'

# Label for script changes
scripts:
  - changed-files:
    - any-glob-to-any-file: 'scripts/**/*'

# Label for configuration changes
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config/**/*'
      - 'missions/**/*'
      - '*.toml'
      - '*.json'
      - '*.yml'
      - '*.yaml'

# Label for TDF simulation changes
tdf:
  - changed-files:
    - any-glob-to-any-file:
      - '**/tdf_*'
      - '**/*tdf*'
      - 'output/tdf_points.json'
