Repository alponsirenas/lanterne-rouge, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, documentation, source, tests, scripts, config, tdf

docs: Update context and documentation after project reorganization
  context/github_project_structure.md
  context/tdf_github_actions_setup.md
  docs/RELEASE_NOTES_v0.5.1.md
  docs/about_lanterne_rouge_project.md
Labels: documentation, tdf

chore: Bump version to v0.5.1 and update references
  README.md
  VERSION
Labels: documentation

feat: Add narrative summaries and tactical stories for Stages 1-9 of the Tour de France simulation
  docs/tdf-2025-sim/stage1.md
  docs/tdf-2025-sim/stage2.md
  docs/tdf-2025-sim/stage3.md
  docs/tdf-2025-sim/stage4.md
  docs/tdf-2025-sim/stage5.md
  docs/tdf-2025-sim/stage6.md
  docs/tdf-2025-sim/stage7.md
  docs/tdf-2025-sim/stage8.md
  docs/tdf-2025-sim/stage9.md
Labels: documentation

Update docs/tdf-2025-sim/stage9.md
  docs/tdf-2025-sim/stage9.md
Labels: documentation

Update docs/tdf-2025-sim/stage6.md
  docs/tdf-2025-sim/stage6.md
Labels: documentation

feat: Implement Fiction Mode - Automated Cycling Narrative Generator
  README.md
  context/tdf_fiction_mode.md
  docs/fiction_mode.md
  docs/tdf-2025-hallucinations/intro.md
  docs/tdf-2025-hallucinations/stage1.md
  docs/tdf-2025-hallucinations/stage2.md
  docs/tdf-2025-hallucinations/stage3.md
  requirements.txt
  scripts/fiction_mode_evening.py
  scripts/run_fiction_mode.py
  scripts/utils/fix_lint_issues.py
  scripts/utils/fix_trailing_whitespace.py
  src/lanterne_rouge/fiction_mode/__init__.py
  src/lanterne_rouge/fiction_mode/analysis.py
  src/lanterne_rouge/fiction_mode/data_ingestion.py
  src/lanterne_rouge/fiction_mode/delivery.py
  src/lanterne_rouge/fiction_mode/editor.py
  src/lanterne_rouge/fiction_mode/pipeline.py
  src/lanterne_rouge/fiction_mode/writer.py
Labels: documentation, source, scripts, tdf

Fix lint issues in Fiction Mode modules
  docs/FICTION_MODE_IMPLEMENTATION_SUMMARY.md
  scripts/utils/fix_fiction_mode_lint.py
  src/lanterne_rouge/fiction_mode/analysis.py
  src/lanterne_rouge/fiction_mode/data_ingestion.py
  src/lanterne_rouge/fiction_mode/delivery.py
  src/lanterne_rouge/fiction_mode/editor.py
  src/lanterne_rouge/fiction_mode/pipeline.py
  src/lanterne_rouge/fiction_mode/writer.py
Labels: documentation, source, scripts

🧠 Enhanced Fiction Mode with LLM-powered intelligent analysis
  src/lanterne_rouge/fiction_mode/analysis.py
  src/lanterne_rouge/fiction_mode/data_ingestion.py
  tests/test_fiction_mode.py
Labels: source, tests

chore(data): daily coach output [skip ci]
  memory/lanterne.db
  output/readiness_score_log.csv
  output/reasoning_log.csv
Labels: none

fix(actions): correct cron schedules for TDF workflows
  .github/workflows/tdf-evening.yml
  .github/workflows/tdf-morning.yml
Labels: CI, tdf

fix(tdf): add timezone handling for activity detection
  output/tdf_points.json
  scripts/evening_tdf_check.py
Labels: scripts, tdf

feat(tdf): stage completed - points updated [skip ci]
  output/tdf_points.json
Labels: tdf

fix(tdf): prevent duplicate activity counting
  output/tdf_points.json
  scripts/evening_tdf_check.py
  src/lanterne_rouge/tdf_tracker.py
Labels: source, scripts, tdf

feat(tdf): stage completed - points updated [skip ci]
  output/tdf_points.json
Labels: tdf

feat(tdf): morning briefing and points update [skip ci]
  output/morning_tdf_briefing.txt
  output/readiness_score_log.csv
Labels: tdf

chore(data): daily coach output [skip ci]
  memory/lanterne.db
  output/readiness_score_log.csv
  output/reasoning_log.csv
Labels: none

chore(data): daily coach output [skip ci]
  memory/lanterne.db
  output/readiness_score_log.csv
  output/reasoning_log.csv
Labels: none

Apply suggestions from code review
  src/lanterne_rouge/fiction_mode/delivery.py
Labels: source

v0.7.0: Major codebase cleanup and reorganization
  ENHANCED_REASONING_SYSTEM.md
  LINTING_SUMMARY.md
  RELEASE_NOTES_v0.4.0.md
  RELEASE_NOTES_v0.5.0.md
  TDF_CLASSIFICATION_FIX_SUMMARY.md
  VERSION
  docs/ENHANCED_REASONING_SYSTEM.md
  docs/RELEASE_NOTES_v0.7.0.md
  memory/lanterne.db
  pytest.ini
  scripts/add_missing_stage2.py
  scripts/compare_data_sources.py
  scripts/compare_db_vs_calc.py
  scripts/configure_rider_profile.py
  scripts/demo/demo.py
  scripts/demo/demo_enhanced.py
  scripts/demo/demo_streamlit.py
  scripts/diagnose_bannister.py
  scripts/diagnose_tdf_stages.py
  scripts/export_strava_for_testing.py
  scripts/fix_tdf_classifications.py
  scripts/fix_trailing_whitespace.py
  scripts/manage_memory_db.py
  scripts/test_power_tss.py
  scripts/test_tsb_parameters.py
  scripts/utils/diagnose_bannister.py
  scripts/utils/export_strava_for_testing.py
  scripts/utils/test_power_tss.py
  src/lanterne_rouge/fiction_mode/configure_rider_profile.py
  test_agent_output.py
  test_agent_output_llm.py
  test_default_mode.py
  test_llm_reasoning.py
  tests/test_points_accumulation.py
Labels: documentation, source, tests, scripts, tdf

feat(tdf): stage completed - points updated [skip ci]
  output/tdf_points.json
Labels: tdf

fix: Resolve TDF stage duplicate detection and timezone issues
  docs_src/getting-started/installation.md
  docs_src/getting-started/quick-start.md
  memory/lanterne.db
  output/tdf_points.json.backup
  scripts/evening_tdf_check.py
  src/lanterne_rouge/tdf_tracker.py
Labels: source, scripts, tdf

feat: Automated Fiction Mode narrative generation
  .github/workflows/tdf-evening.yml
  .github/workflows/tdf-fiction-mode.yml
  scripts/run_fiction_mode.py
  test_fiction_mode.py
Labels: CI, scripts, tdf

feat: Enhanced Fiction Mode with improved error handling and narrative generation
  .github/workflows/tdf-fiction-mode.yml
  docs/tdf-2025-hallucinations/stage4.md
  docs/tdf-2025-hallucinations/stage5.md
  fiction_mode_utils.py
  scripts/run_fiction_mode.py
  src/lanterne_rouge/fiction_mode/data_ingestion.py
  test_fiction_mode.py
Labels: CI, documentation, source, scripts, tdf

feat(tdf): morning briefing and points update [skip ci]
  output/morning_tdf_briefing.txt
  output/readiness_score_log.csv
Labels: tdf

chore(data): daily coach output [skip ci]
  memory/lanterne.db
  output/readiness_score_log.csv
  output/reasoning_log.csv
Labels: none

chore(data): daily coach output [skip ci]
  memory/lanterne.db
  output/readiness_score_log.csv
  output/reasoning_log.csv
Labels: none

feat(tdf): stage completed - points updated [skip ci]
  output/tdf_points.json
Labels: tdf

fix: Correct TDF stage number calculation and Stage 6 points
  output/fiction_mode/stage_02_2025-07-06_Stage_2__Lauwin-Planque__Mûr-de-Bretagne.markdown
  output/tdf_points.json
  src/lanterne_rouge/tdf_tracker.py
  src/lanterne_rouge/tour_coach.py
Labels: source, tdf

fix: Update Fiction Mode GitHub Action for protected branch and email notifications
  .github/workflows/tdf-fiction-mode.yml
Labels: CI, tdf

fix(workflow): restore correct TDF Fiction Mode workflow configuration
  .github/workflows/tdf-fiction-mode.yml
Labels: CI, tdf

fix: Fiction Mode script now looks up activity_id for given stage number
  scripts/run_fiction_mode.py
Labels: scripts

feat: Generate Stage 6 Fiction Mode narrative
  docs/tdf-2025-hallucinations/stage6.md
Labels: documentation

feat: Add stage completion summary file storage
  .github/workflows/tdf-evening.yml
  docs/tdf-2025-sim/completion-summary/stage6.md
Labels: CI, documentation, tdf

feat: Auto-save stage completion summaries to files
  scripts/evening_tdf_check.py
Labels: scripts, tdf

chore: Update binary database file for improved performance
  memory/lanterne.db
Labels: none

feat(tdf): morning briefing and points update [skip ci]
  output/morning_tdf_briefing.txt
  output/readiness_score_log.csv
Labels: tdf

chore(data): daily coach output [skip ci]
  memory/lanterne.db
  output/readiness_score_log.csv
  output/reasoning_log.csv
Labels: none

chore(data): daily coach output [skip ci]
  memory/lanterne.db
  output/readiness_score_log.csv
  output/reasoning_log.csv
Labels: none

feat: Create personalized Fiction Mode introduction
  docs/tdf-2025-hallucinations/intro.md
Labels: documentation

feat: Add comprehensive time trial support to TDF simulation
  missions/tdf_sim_2025.toml
  output/tdf_points.json
  scripts/evening_tdf_check.py
  src/lanterne_rouge/fiction_mode/analysis.py
Labels: source, scripts, config, tdf

.github/labeler.yml:

# Configuration for the labeler action
# https://github.com/actions/labeler

# Label for root level changes
root:
  - changed-files:
    - any-glob-to-any-file: '*'
    - all-globs-to-all-files: '!**/*'

# Label for CI/CD related changes  
CI:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'

# Label for documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file: 
      - 'docs/**/*'
      - 'context/**/*'
      - '*.md'

# Label for source code changes
source:
  - changed-files:
    - any-glob-to-any-file: 'src/**/*'

# Label for test changes
tests:
  - changed-files:
    - any-glob-to-any-file: 'tests/**/*'

# Label for script changes
scripts:
  - changed-files:
    - any-glob-to-any-file: 'scripts/**/*'

# Label for configuration changes
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config/**/*'
      - 'missions/**/*'
      - '*.toml'
      - '*.json'
      - '*.yml'
      - '*.yaml'

# Label for TDF simulation changes
tdf:
  - changed-files:
    - any-glob-to-any-file:
      - '**/tdf_*'
      - '**/*tdf*'
      - 'output/tdf_points.json'
