Repository alponsirenas/lanterne-rouge, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, documentation, source, tests, scripts, config, tdf

chore(data): daily coach output [skip ci]
  memory/lanterne.db
  output/readiness_score_log.csv
  output/reasoning_log.csv
Labels: none

feat(tdf): morning briefing and points update [skip ci]
  docs_src/tdf-simulation/index.md
  docs_src/tdf-simulation/stages/stage16.md
  output/morning_tdf_briefing.txt
  output/readiness_score_log.csv
Labels: tdf

chore(data): daily coach output [skip ci]
  memory/lanterne.db
  output/readiness_score_log.csv
  output/reasoning_log.csv
Labels: none

Fix TDF stage/rest day schedule alignment
  docs_src/tdf-simulation/stages/completion-summary/stage15.md
  missions/tdf_sim_2025.toml
Labels: config, tdf

chore(data): daily coach output [skip ci]
  memory/lanterne.db
  output/readiness_score_log.csv
  output/reasoning_log.csv
Labels: none

feat: fix TDF classification system and enhance daily recommendations
  DAILY_RECOMMENDATIONS_ENHANCEMENT.md
  output/stage13_analysis.txt
  output/stage14_analysis.txt
  output/tdf_points.json
  scripts/daily_run.py
  src/lanterne_rouge/monitor.py
  src/lanterne_rouge/reasoner.py
Labels: documentation, source, scripts, tdf

chore(data): daily coach output [skip ci]
  memory/lanterne.db
  output/readiness_score_log.csv
  output/reasoning_log.csv
Labels: none

chore(data): daily coach output [skip ci]
  docs_src/tdf-simulation/index.md
Labels: none

feat(tdf): stage completed - points and summary updated [skip ci]
  docs_src/tdf-simulation/index.md
  docs_src/tdf-simulation/stages/completion-summary/stage16.md
  docs_src/tdf-simulation/stages/stage16.md
  output/stage16_analysis.txt
  output/tdf_points.json
Labels: tdf

feat(tdf): morning briefing and points update [skip ci]
  docs_src/tdf-simulation/stages/stage17.md
  output/morning_tdf_briefing.txt
  output/readiness_score_log.csv
Labels: tdf

chore(data): daily coach output [skip ci]
  memory/lanterne.db
  output/readiness_score_log.csv
  output/reasoning_log.csv
Labels: none

feat(tdf): stage completed - points and summary updated [skip ci]
  docs_src/tdf-simulation/index.md
  docs_src/tdf-simulation/stages/completion-summary/stage17.md
  output/stage17_analysis.txt
  output/tdf_points.json
Labels: tdf

feat(fiction): auto-generated narrative for stage 17 [skip ci]
  docs_src/tdf-simulation/tdf-2025-hallucinations/stage17.md
Labels: none

feat(tdf): morning briefing and points update [skip ci]
  docs_src/tdf-simulation/stages/stage17.md
  docs_src/tdf-simulation/stages/stage18.md
  mkdocs.yml
  output/morning_tdf_briefing.txt
  output/readiness_score_log.csv
Labels: config, tdf

chore(data): daily coach output [skip ci]
  memory/lanterne.db
  output/readiness_score_log.csv
  output/reasoning_log.csv
Labels: none

feat(tdf): morning briefing and points update [skip ci]
  docs_src/tdf-simulation/index.md
  docs_src/tdf-simulation/stages/stage18.md
  output/morning_tdf_briefing.txt
  output/readiness_score_log.csv
Labels: tdf

chore(data): daily coach output [skip ci]
  memory/lanterne.db
  output/readiness_score_log.csv
  output/reasoning_log.csv
Labels: none

feat(tdf): stage completed - points and summary updated [skip ci]
  docs_src/tdf-simulation/index.md
  docs_src/tdf-simulation/stages/completion-summary/stage18.md
  output/stage18_analysis.txt
  output/tdf_points.json
Labels: tdf

feat(tdf): morning briefing and points update [skip ci]
  docs_src/tdf-simulation/stages/stage18.md
  docs_src/tdf-simulation/stages/stage19.md
  output/morning_tdf_briefing.txt
  output/readiness_score_log.csv
Labels: tdf

chore(data): daily coach output [skip ci]
  memory/lanterne.db
  output/readiness_score_log.csv
  output/reasoning_log.csv
Labels: none

feat(tdf): stage completed - points and summary updated [skip ci]
  docs_src/tdf-simulation/index.md
  docs_src/tdf-simulation/stages/completion-summary/stage19.md
  output/stage19_analysis.txt
  output/tdf_points.json
Labels: tdf

feat(fiction): auto-generated narrative for stage 19 [skip ci]
  docs_src/tdf-simulation/tdf-2025-hallucinations/stage19.md
Labels: none

feat(tdf): morning briefing and points update [skip ci]
  docs_src/tdf-simulation/stages/stage19.md
  docs_src/tdf-simulation/stages/stage20.md
  mkdocs.yml
  output/morning_tdf_briefing.txt
  output/readiness_score_log.csv
Labels: config, tdf

chore(data): daily coach output [skip ci]
  memory/lanterne.db
  output/readiness_score_log.csv
  output/reasoning_log.csv
Labels: none

feat(tdf): morning briefing and points update [skip ci]
  output/morning_tdf_briefing.txt
  output/readiness_score_log.csv
Labels: tdf

chore(data): daily coach output [skip ci]
  memory/lanterne.db
  output/readiness_score_log.csv
  output/reasoning_log.csv
Labels: none

feat(tdf): morning briefing and points update [skip ci]
  output/morning_tdf_briefing.txt
  output/readiness_score_log.csv
Labels: tdf

chore(data): daily coach output [skip ci]
  memory/lanterne.db
  output/readiness_score_log.csv
  output/reasoning_log.csv
Labels: none

feat(tdf): morning briefing and points update [skip ci]
  output/morning_tdf_briefing.txt
  output/readiness_score_log.csv
Labels: tdf

chore(data): daily coach output [skip ci]
  memory/lanterne.db
  output/readiness_score_log.csv
  output/reasoning_log.csv
Labels: none

feat(tdf): morning briefing and points update [skip ci]
  output/morning_tdf_briefing.txt
  output/readiness_score_log.csv
Labels: tdf

chore(data): daily coach output [skip ci]
  memory/lanterne.db
  output/readiness_score_log.csv
  output/reasoning_log.csv
Labels: none

feat(tdf): morning briefing and points update [skip ci]
  output/morning_tdf_briefing.txt
  output/readiness_score_log.csv
Labels: tdf

chore(data): daily coach output [skip ci]
  memory/lanterne.db
  output/readiness_score_log.csv
  output/reasoning_log.csv
Labels: none

feat(tdf): morning briefing and points update [skip ci]
  output/morning_tdf_briefing.txt
  output/readiness_score_log.csv
Labels: tdf

chore(data): daily coach output [skip ci]
  memory/lanterne.db
  output/readiness_score_log.csv
  output/reasoning_log.csv
Labels: none

feat(tdf): morning briefing and points update [skip ci]
  output/morning_tdf_briefing.txt
  output/readiness_score_log.csv
Labels: tdf

chore(data): daily coach output [skip ci]
  memory/lanterne.db
  output/readiness_score_log.csv
  output/reasoning_log.csv
Labels: none

feat(tdf): morning briefing and points update [skip ci]
  output/morning_tdf_briefing.txt
  output/readiness_score_log.csv
Labels: tdf

chore(data): daily coach output [skip ci]
  memory/lanterne.db
  output/readiness_score_log.csv
  output/reasoning_log.csv
Labels: none

.github/labeler.yml:

# Configuration for the labeler action
# https://github.com/actions/labeler

# Label for root level changes
root:
  - changed-files:
    - any-glob-to-any-file: '*'
    - all-globs-to-all-files: '!**/*'

# Label for CI/CD related changes  
CI:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'

# Label for documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file: 
      - 'docs/**/*'
      - 'context/**/*'
      - '*.md'

# Label for source code changes
source:
  - changed-files:
    - any-glob-to-any-file: 'src/**/*'

# Label for test changes
tests:
  - changed-files:
    - any-glob-to-any-file: 'tests/**/*'

# Label for script changes
scripts:
  - changed-files:
    - any-glob-to-any-file: 'scripts/**/*'

# Label for configuration changes
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config/**/*'
      - 'missions/**/*'
      - '*.toml'
      - '*.json'
      - '*.yml'
      - '*.yaml'

# Label for TDF simulation changes
tdf:
  - changed-files:
    - any-glob-to-any-file:
      - '**/tdf_*'
      - '**/*tdf*'
      - 'output/tdf_points.json'
